
.page-navigation-enter-from, .page-navigation-leave-to {
	opacity: 0;
	transform: scale(0.97);
}
.page-navigation-enter-active, .page-navigation-leave-active {
	transition: opacity 150ms ease-out, transform 150ms ease-out;
}

.auth-buttons-enter-from, .auth-buttons-leave-to {
	opacity: 0;
	transform: scale(0.9);
}
.auth-buttons-enter-active, .auth-buttons-leave-active {
	transition: opacity 200ms ease-out, transform 200ms ease-out;
}

.offline-toast-enter-from, .offline-toast-leave-to {
	opacity: 0;
	transform: scale(0.9) translateY(-100px);
}
.offline-toast-enter-active, .offline-toast-leave-active {
	transition: opacity 200ms ease-out, transform 300ms ease;
}

.error-message-enter-from, .error-message-leave-to {
  opacity: 0;
  transform: scale(0.9);
}
.error-message-enter-active, .error-message-leave-active {
	transition: opacity 200ms ease-out, transform 200ms ease;
}

.modal-enter-from, .modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.opacity-0-scale-097-150ms-enter-from, .opacity-0-scale-097-150ms-leave-to {
	opacity: 0;
	transform: scale(0.97);
}
.opacity-0-scale-097-150ms-enter-active, .opacity-0-scale-097-150ms-leave-active {
	transition: opacity 150ms ease-out, transform 150ms ease-out;
}
.opacity-0-scale-097-150ms-move {
	transition: transform 150ms ease-out;
}
.opacity-0-scale-097-150ms-leave-active {
	position: absolute;
}

.circular-scrim-enter-from, .circular-scrim-leave-to {
	opacity: 0;
	backdrop-filter: none;
}
.circular-scrim-enter-active, .circular-scrim-leave-active {
	transition: opacity 150ms ease-out, backdrop-filter 150ms ease-out;
}